<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.ico">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/me.jpg" alt="My picture">
            <p><i>I am a simple man who likes to code. This is a project built using node 
                and node modules such as handlebars and express. Also look at how cool I look in that picture.</i></p>
        </div>
        {{>footer}}
    </body>
</html>