<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.ico">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{helpMessage}} For best results put in your full address. Otherwise the results may me inaccurate.</p>
        </div>
        {{>footer}}
    </body>
</html>
